.custom-dropdown {
  color: rgb(89, 37, 220);
  .fui-Dropdown {
    min-width: 104px !important;
  }
}
.option-div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.remove-bottom-border::after {
  display: none !important;
}

.dropdown-button {
  background: transparent;
  border: none;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin: 2px 0px;
  line-height: 17px;
}
